<%- include("../partials/header") %>

<div class="container">
    <div class="exit">
        <a href="/listings/<%= homeaway._id%>/"><i class="fas fa-times"></i> close</a>
    </div>
    <div class="ui container segment">
        <form class="ui form" action="/listings/<%= homeaway._id%>/comments" method="POST">
            <div class="field">
                <label>Add new Review</label>
                <textarea name="comment[text]"></textarea>
            </div>
            <button class="ui button small-btn" type="submit">Submit</button>
        </form>
    </div>
</div>
<%- include("../partials/footer") %>